@import url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
@import "./variables/colores";
@import "./variables/reseteo";
@import "./variables/fuentes";


body {
    font-family: 'Karla', sans-serif;
}

nav {
    font-style: italic;
    font-weight: 600;
    :hover {
        color: $pink !important; 
    }
    a {
        color: black;
        :hover {
            color: $pink !important; 
        }
    }
} 

header {
    section {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        margin: 5rem;
        hr {
            border: solid $pink;
            border-width: 2px;
        }
        p {
            padding: 2rem 2rem 0rem 0rem;
        }
        h6 {
            font-weight: 400;
            font-size: fuentes (3);
        }    
        img {
            width: 100%;
            box-shadow: 2px 2px 5px black;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            transition: filter 600ms ease;
            -webkit-transition: -webkit-filter 600ms ease;
        }
        :hover {
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
        }
    }
} 

main section {
    p {
        align-self: flex-start;
        font-weight: 400;
        font-size: fuentes (3);
    }    
    img {
        box-shadow: 2px 2px 5px black;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: filter 600ms ease;
        -webkit-transition: -webkit-filter 600ms ease;
    }
    :hover {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
}

@media only screen and (max-width:320px){
    main section {
        p {
            padding: 20px 0px 10px 0px;
            align-self: flex-start;
            font-weight: 400;
            font-size: fuentes (6);
        }
    }
    header {
        section {
            display: grid;
            grid-template-columns: 100%;
            justify-content: center;
            margin: 1rem;
            hr {
                border: solid $pink;
                border-width: 1px;
            }
            h1 {
                font-size: fuentes (2);
            }
            p {
                font-weight: 600;
                font-size: fuentes (5);
                padding-top: 0rem;
            }
            h6 {
                font-weight: 400;
                font-size: fuentes (6);
                padding-bottom: 1rem;
            }    
        }
    }     
}

