@import url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
@import "./variables/colores";
@import "./variables/reseteo";

/*imagen animada index*/
.index-img {
    object-fit: cover;
    height: 55vh;
    position: absolute;
    background-image: url(../imagenes/index/fondo-index.jpg);
    background-size: cover;
    animation: movimiento 50s infinite linear;
    animation-iteration-count: infinite;}
  @keyframes movimiento {
  from{background-position: bottom;}
  to{ background-position: top;}
}

body {
    font-family: 'Karla', sans-serif;
    header {
        nav {
            font-style: italic;
            font-weight: 600;
            :hover {
                color: $pink !important; 
            }
            a {
                color: black;
                :hover {
                    color: $pink !important; 
                }
            }
        } 
    } 
}

main section article {
    justify-content: center;
    h2 {
        color: black;
        font-weight: 800;
        font-style: italic;
        font-size: 2rem;
    }
    p {
        font-weight: 400;
    }
    button {
        border: solid $pink !important;
        border-width: 0.2rem !important;
        a {
            color: $pink;
            font-weight: 600;
        }
    }
}

@media only screen and (max-width:320px) {
    /*imagen animada index mobile*/
    .index-img {
        height: 30vh;
    }
    main section article{
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 10px;
        }
        button a {
            font-size: 12px;
        }
    }
    footer {
        font-size: 10px;
        i {
          font-size: 14px;
        }
    }    
}