@import url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
/*reseteo de CSS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*imagen animada index*/
.index-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 55vh;
  position: absolute;
  background-image: url(../imagenes/index/fondo-index.jpg);
  background-size: cover;
  -webkit-animation: movimiento 50s infinite linear;
          animation: movimiento 50s infinite linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes movimiento {
  from {
    background-position: bottom;
  }
  to {
    background-position: top;
  }
}

@keyframes movimiento {
  from {
    background-position: bottom;
  }
  to {
    background-position: top;
  }
}

body {
  font-family: 'Karla', sans-serif;
}

body header nav {
  font-style: italic;
  font-weight: 600;
}

body header nav :hover {
  color: #ff0054 !important;
}

body header nav a {
  color: black;
}

body header nav a :hover {
  color: #ff0054 !important;
}

main section article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section article h2 {
  color: black;
  font-weight: 800;
  font-style: italic;
  font-size: 2rem;
}

main section article p {
  font-weight: 400;
}

main section article button {
  border: solid #ff0054 !important;
  border-width: 0.2rem !important;
}

main section article button a {
  color: #ff0054;
  font-weight: 600;
}

@media only screen and (max-width: 320px) {
  /*imagen animada index mobile*/
  .index-img {
    height: 30vh;
  }
  main section article h2 {
    font-size: 16px;
  }
  main section article p {
    font-size: 10px;
  }
  main section article button a {
    font-size: 12px;
  }
  footer {
    font-size: 10px;
  }
  footer i {
    font-size: 14px;
  }
}
