@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
/*reseteo de CSS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*variables de colores*/
/*generales en body*/
.bd {
  font-family: 'Karla', sans-serif;
}

.bd a {
  text-decoration: none !important;
}

.bd header nav {
  font-style: italic;
  font-weight: 600;
}

.bd header nav :hover {
  color: #ff0054 !important;
}

.bd header nav a {
  color: #0A0A0A;
}

.bd header nav a :hover {
  color: #ff0054 !important;
}

/*detalles de estilo en elemento hr*/
.linearosa {
  border: solid #ff0054;
  border-width: 2px;
}

/*boton*/
.btn_pink {
  background-color: #F9F7F4;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn_pink a {
  color: #0A0A0A;
  font-weight: 600;
}

.btn_pink:hover {
  background-color: #ff0054;
  border-radius: 12px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.btn_pink:hover a {
  color: #F9F7F4;
  font-weight: 600;
}

/*estilo para footer*/
.ftr :hover {
  color: #ff0054;
}

.iconos {
  color: #F9F7F4;
}

.iconos :hover {
  color: #ff0054;
}

/*imagenes en blanco y negro*/
.byn {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: -webkit-filter 600ms ease;
  transition: filter 600ms ease;
  transition: filter 600ms ease, -webkit-filter 600ms ease;
  -webkit-transition: -webkit-filter 600ms ease;
}

:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

/*imagen animada index*/
.index-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 55vh;
  position: absolute;
  background-image: url(../../imagenes/fondo-index.jpg);
  background-size: cover;
  -webkit-animation: movimiento 50s infinite linear;
          animation: movimiento 50s infinite linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes movimiento {
  from {
    background-position: bottom;
  }
  to {
    background-position: top;
  }
}

@keyframes movimiento {
  from {
    background-position: bottom;
  }
  to {
    background-position: top;
  }
}

/*utilice mixins para los textos*/
/*utilicé extend para los titulos de las secciones y las subseciones dentro de cada sección*/
.titulo {
  font-size: 40px;
  font-weight: 600;
  color: #0A0A0A;
}

.titulo--secundario {
  font-style: italic;
}

.titulo--secundario-blanco {
  color: #F9F7F4;
  font-style: italic;
}

/*fondo rosa sobre titulo*/
.wrap {
  padding: 10% 20%;
}

.underlined {
  color: #0A0A0A;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ff0054), to(#ff0054));
  background-image: linear-gradient(to right, #ff0054 0, #ff0054 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.underlined:hover {
  background-size: 100% 100%;
  color: #F9F7F4;
}

.underlined--thick {
  background-position: 0 -0.1em;
}

/*texto rosa sobre titulo index*/
.wrap {
  padding: 10% 20%;
}

.pink {
  color: #0A0A0A;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.pink:hover {
  background-size: 100% 100%;
  color: #ff0054;
}

.pink--thick {
  background-position: 0 -0.1em;
}

body main section article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section article h2 {
  color: #0A0A0A;
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
  padding: 0rem;
}

body main section article p {
  color: #0A0A0A;
  font-size: 16px;
  font-weight: 400;
  font-style: none;
  padding: 2rem;
}

@media only screen and (max-width: 320px) {
  body main section article h2 {
    font-size: 20px;
  }
  body main section article p {
    font-size: 14px;
    padding: 0rem;
  }
  body main section article button a {
    font-size: 12px;
  }
  body footer {
    font-size: 10px;
  }
  body footer i {
    font-size: 14px;
  }
}
