/*reseteo de CSS*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/*variables de colores*/
$pink: #ff0054;
$blanco: #F9F7F4;
$negro: #0A0A0A;
/*generales en body*/
.bd {
    font-family: 'Karla', sans-serif;
    a {
        text-decoration: none !important;        
    }
    header {
        nav {
            font-style: italic;
            font-weight: 600;
                :hover {
                    color: $pink !important; 
                }
            a {
                color: $negro;
                    :hover {
                        color: $pink !important; 
                    }
            }
        } 
    }
}
/*detalles de estilo en elemento hr*/
.linearosa {
    border: solid $pink;
    border-width: 2px;
}
/*boton*/
.btn_pink {
    background-color: $blanco;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    a {
        color: $negro;
        font-weight: 600;
    }
}
.btn_pink:hover {
    background-color: $pink;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    a {
        color: $blanco;
        font-weight: 600;
    }
}
/*estilo para footer*/
.ftr {
    :hover {
        color: $pink;
    }
}
.iconos {
    color: $blanco;
    :hover {
        color: $pink;
    }
}
