@import url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
@import "./generales/generales";
@import "./generales/imagenes";
@import "./generales/fuentes";
body main {
    section {
        background-color: $negro;
        padding: 2rem 12rem 2rem 12rem;
        h1 {
            @include fuente ($blanco, 40px, 600, none, 0rem);
        }
        p {
            @include fuente ($blanco, 16px, 400, none, 0rem 12rem 0rem 0rem);
        }
        h6 {
            @include fuente ($blanco, 14px, 400, none, 0rem 25rem 5rem 0rem);
        }
        fieldset {
            label {
                @include fuente ($blanco, 12px, 400, none, 0rem);
            }
            input {
                padding: 3px;
                width: 280px;
            }
            textarea {
                width: 280px;
            }
            .enviar {
                background-color: $pink;
                color: $blanco;
                border-color: transparent;
                border-radius: 12px;
            }
        }
    }
}
@media only screen and (max-width:320px){
    body main {
        section {
            padding: 2rem 0rem 2rem 0rem;
            h1 {
                @include fuente ($blanco, 40px, 600, none, 0rem);
            }
            p {
                @include fuente ($blanco, 16px, 400, none, 0rem);
            }
            h6 {
                @include fuente ($blanco, 14px, 400, none, 0rem 0rem 2rem 0rem);
            }
        }
    }
}
@media only screen and (min-width:768px){
    body main {
        section {
            padding: 2rem 0rem 2rem 0rem;
            h1 {
                @include fuente ($blanco, 40px, 600, none, 0rem);
            }
            p {
                @include fuente ($blanco, 18px, 400, none, 0rem 4rem 0rem 0rem);
            }
            h6 {
                @include fuente ($blanco, 16px, 400, none, 0rem 4rem 2rem 0rem);
            }
            fieldset {
                input {
                    padding: 3px;
                    width: 200px;
                }
                textarea {
                    width: 200px;
                }
            }
        }
    }
}


