@import url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
@import "./generales/generales";
@import "./generales/imagenes";
@import "./generales/fuentes";
body main {
    article {
        padding: 1rem 3rem 3rem 3rem;
        h2 {
            @include fuente ($negro, 40px, 800, italic, 2rem 0rem 1rem 0rem);
        }
        h6 {
            @include fuente ($negro, 16px, 600, none, 0rem 22rem 2rem 22rem);
        }
        p {
            @include fuente ($negro, 14px, 600, none, 0rem);
        }
    }
    section div {
        background-color: $negro;
        padding: 0rem 3rem 2rem 3rem;
        h1 {
            @include fuente ($blanco, 40px, 800, italic, 0rem)
            padding-top: 3rem;
        }
        p {
            @include fuente ($blanco, 16px, 400, none, 1rem 18rem 0rem 18rem);
        }
    }
}
/*estilo de imagen con enlace*/
.container {
    position: relative;
    width: 50%;
    .image {
        display: block;
        width: 100%;
        height: auto;
        padding-top: 4rem;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
    .overlay {
        position: absolute;
        top: 10;
        bottom: 0;
        left: 10;
        right: 10;
        height: 80%;
        width: 95%;
        opacity: 0;
        transition: .5s ease;
    }
    .container:hover .overlay {
        opacity: 1;
    }
    .container:hover .image {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
    .text {
        color: $pink;
        background: rgba(255, 255, 255, 0.65);
        font-weight: 600;
        font-size: 20px;
        font-style: italic;
        position: absolute;
        width: 20rem;
        height: 2rem;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        text-decoration: none;
    } 
}

@media only screen and (max-width:320px){
    body main {
        text-align: center;
        article {
            padding: 1rem 2rem 3rem 2rem;
            h6 {
                @include fuente ($negro, 14px, 600, none,  0rem);
            }
            p {
                @include fuente ($negro, 14px, 600, none, 0rem);
            }
            img {
                width: 50%;
                padding-top: 1rem;
            }
        }
        section div {
            text-align: center;
            h6 {
                @include fuente ($negro, 14px, 600, none, 0rem);
            }
            p {
                @include fuente ($blanco, 14px, 400, none, 1rem 2rem 0rem 2rem);
            }
        }
    }
}
@media only screen and (max-width:768px){
    body main {
        text-align: center;
        article {
            padding: 1rem 2rem 3rem 2rem;
            h6 {
                @include fuente ($negro, 14px, 600, none,  0rem);
            }
            p {
                @include fuente ($negro, 14px, 600, none, 0rem);
            }
            img {
                width: 50%;
                padding-top: 1rem;
            }
        }
        section div {
            text-align: center;
            h6 {
                @include fuente ($negro, 14px, 600, none, 0rem);
            }
            p {
                @include fuente ($blanco, 14px, 400, none, 1rem 2rem 0rem 2rem);
            }
        }
    }
}

