@import url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
@import "./generales/generales";
@import "./generales/imagenes";
@import "./generales/fuentes";
body main {
    article {
        padding: 2rem 12rem 2rem 12rem;
        h1 {
            @include fuente ($negro, 35px, 600, none, 0rem);
        }
        h2 {
            @include fuente ($negro, 40px, 800, italic, 0rem);
        }
        h6 {
            @include fuente ($negro, 16px, 400, none, 2rem 3rem 0rem 0rem);
        }
        p {
            @include fuente ($negro, 14px, 600, none, 1rem 20rem 0rem 20rem); 
        }
        img {
            padding-bottom: 1rem;
        }
        aside {
            p {
                @include fuente ($negro, 16px, 600, none, 2rem);
            }
        }
    }
    section {
        background-color: $negro;
        padding: 2rem 12rem 2rem 12rem;
        h2 {
            @include fuente ($blanco, 40px, 600, italic, 0rem);
        }
        h4 {
            @include fuente ($blanco, 25px, 400, none, 0rem);
        }
        h6 {
            @include fuente ($blanco, 16px, 400, none, 0rem);
        }
        p {
            @include fuente ($blanco, 16px, 600, none, 0rem);
        }
        img {
            padding-top: 1rem;
        }
        fieldset {

            color: $blanco;
            i {
                padding: 2rem 0rem 2rem 0rem;
            }
        }
    }
}

@media only screen and (max-width:320px){
    body main {
        text-align: center;
        article {
            padding: 1rem 2rem 2rem 2rem;
            h1 {
                font-size: 28px;
            }
            h2 {
                @include fuente ($negro, 28px, 800, italic, 1rem 0rem 0rem 0rem);
            }
            h4 {
                @include fuente ($blanco, 16px, 400, none, 0rem);
            }
            h6 {
                @include fuente ($negro, 14px, 400, none, 1rem 0rem 0rem 0rem);
            }
            p {
                @include fuente ($negro, 12px, 600, none, 1rem 2rem 0rem 2rem); 
            }
            aside {
                p {
                    @include fuente ($negro, 14px, 400, none, 1rem 4rem 0rem 4rem);
                }
            }
        }
        section {
            padding: 2rem 2rem 2rem 2rem;
            h2 {
                @include fuente ($blanco, 30px, 600, italic, 1rem 0rem 0rem 0rem);
            }
            h4 {
                @include fuente ($blanco, 20px, 400, none, 0rem);
            }
            h6 {
                @include fuente ($blanco, 14px, 400, none, 1rem 1rem 0rem 1rem);
            }
            p {
                @include fuente ($blanco, 14px, 600, none, 1rem 1rem 0rem 1rem);
            }
            img {
                padding-bottom: 1rem;
            }
        }
    }
}
@media only screen and (max-width:768px){
    body main {
        article {
            padding: 2rem 8rem 2rem 8rem;
            h1 {
                @include fuente ($negro, 30px, 600, none, 0rem 8rem 1rem 8rem);
            }
            h2 {
                @include fuente ($negro, 25px, 800, italic, 0rem 0rem 1rem 0rem);
            }
            h4 {
                @include fuente ($negro, 16px, 400, none, 0rem);
            }
            h6 {
                @include fuente ($negro, 14px, 400, none, 1rem 2rem 0rem 0rem);
            }
            p {
                @include fuente ($negro, 14px, 600, none, 0rem 10rem 0rem 10rem); 
            }
            img {
                padding-bottom: 1rem;
            }
            aside {
                p {
                    @include fuente ($negro, 12px, 600, none, 0rem);
                }
            }
        }
        section {
            padding: 2rem 8rem 2rem 8rem;
            h2 {
                @include fuente ($blanco, 20px, 600, italic, 0rem);
            }
            h4 {
                @include fuente ($blanco, 15px, 400, none, 0rem);
            }
            h6 {
                @include fuente ($blanco, 12px, 400, none, 0rem);
            }
            p {
                @include fuente ($blanco, 14px, 600, none, 0rem);
            }
            img {
                padding-top: 1rem;
            }
            fieldset {
                color: $blanco;
                i {
                    padding: 2rem 0rem 2rem 0rem;
                }
            }
        }
    }
}