@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
/*reseteo de CSS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*variables de colores*/
/*detalles de estilo en elemento hr*/
.linearosa {
  border: solid #ff0054;
  border-width: 2px;
}

/*boton*/
.btn_pink {
  background-color: #F9F7F4;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn_pink a {
  color: #0A0A0A;
  font-weight: 600;
}

.btn_pink:hover {
  background-color: #ff0054;
  border-radius: 12px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.btn_pink:hover a {
  color: #F9F7F4;
  font-weight: 600;
}

/*imagenes en blanco y negro*/
.byn {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: -webkit-filter 600ms ease;
  transition: filter 600ms ease;
  transition: filter 600ms ease, -webkit-filter 600ms ease;
  -webkit-transition: -webkit-filter 600ms ease;
}

:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

/*imagen animada index*/
.index-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 55vh;
  position: absolute;
  background-image: url(../imagenes/index/fondo-index.jpg);
  background-size: cover;
  -webkit-animation: movimiento 50s infinite linear;
          animation: movimiento 50s infinite linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes movimiento {
  from {
    background-position: bottom;
  }
  to {
    background-position: top;
  }
}

@keyframes movimiento {
  from {
    background-position: bottom;
  }
  to {
    background-position: top;
  }
}

/*utilice mixins para los textos*/
/*utilicé extend para los titulos de las secciones y las subseciones dentro de cada sección*/
.titulo {
  font-size: 40px;
  font-weight: 600;
  color: #0A0A0A;
}

.titulo--secundario {
  font-style: italic;
}

.titulo--secundario-blanco {
  color: #F9F7F4;
  font-style: italic;
}

body {
  font-family: 'Karla', sans-serif;
}

body a {
  text-decoration: none !important;
}

body hr {
  border: solid #ff0054;
  border-width: 2px;
}

nav {
  font-style: italic;
  font-weight: 600;
}

nav :hover {
  color: #ff0054 !important;
}

nav a {
  color: black;
}

nav a :hover {
  color: #ff0054 !important;
}

header section {
  background-color: black;
  color: white;
  padding-top: 3rem;
}

header section h1 {
  padding-bottom: 0.5rem;
  font-weight: 600;
  font-size: 30px;
}

header section p {
  padding: 0rem 25rem 0rem 25rem;
  font-weight: 400;
  font-size: 14px;
}

header article {
  padding: 0rem 10rem 3rem 10rem;
  background-color: black;
}

header article .container-fluid {
  position: relative;
  width: 100%;
}

header article .container-fluid .image {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

header article .container-fluid .overlay {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 10;
  right: 10;
  height: 90%;
  width: 91%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

header article .container-fluid .container:hover .overlay {
  opacity: 1;
}

header article .container-fluid .container:hover .image {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

header article .container-fluid .text {
  color: #ff0054;
  background: rgba(255, 255, 255, 0.65);
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  position: absolute;
  width: 19.5rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

main section {
  padding: 5rem 0rem 0rem 12rem;
  justify-items: center;
}

main section h1 {
  font-size: 40px;
  font-weight: bold;
}

main section h2 {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  padding-top: 2rem;
}

main section h4 {
  font-style: italic;
}

main section h6 {
  font-size: 16px;
  padding: 2rem 10rem 0rem 0rem;
}

main section aside {
  padding: 3rem 12rem 0rem 1rem;
  text-align: center;
}

main section aside p {
  padding: 2rem 4rem 1rem 4rem;
  font-size: 14px;
}

main section aside button {
  padding: 1rem;
  border: solid #ff0054 !important;
  border-width: 2px !important;
}

main section aside button a {
  color: #ff0054;
  font-weight: 600;
}

main section aside button a :hover {
  color: black;
}

main article {
  padding: 6rem 13rem 2rem 13rem;
  background-color: black;
  color: white;
}

main article h1 {
  font-style: italic;
}

main article p {
  padding: 1rem 5rem 1rem 0rem;
  font-size: 14px;
}

main article div img {
  padding-bottom: 4rem;
}

main article h6 {
  padding-top: 1rem;
}

main article fieldset {
  color: white;
}

main article fieldset i {
  padding-bottom: 2rem;
}

main article fieldset label {
  font-size: 14px;
}

main article fieldset input {
  color: #ff0054 !important;
  font-weight: 600;
  padding: 1rem;
  border: solid #ff0054 !important;
  border-width: 2px !important;
}

main .img-byn {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: -webkit-filter 600ms ease;
  transition: filter 600ms ease;
  transition: filter 600ms ease, -webkit-filter 600ms ease;
  -webkit-transition: -webkit-filter 600ms ease;
}

main :hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

@media only screen and (max-width: 320px) {
  main section p {
    padding: 20px 0px 10px 0px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-weight: 400;
    font-size: 10px;
  }
  header section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem;
  }
  header section hr {
    border: solid #ff0054;
    border-width: 1px;
  }
  header section h1 {
    font-size: 20px;
  }
  header section p {
    font-weight: 600;
    font-size: 12px;
    padding-top: 0rem;
  }
  header section h6 {
    font-weight: 400;
    font-size: 10px;
    padding-bottom: 1rem;
  }
}
